.hero-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--space-20);
}

.hero-image-background {
  background-image: var(--hero-image);
  background-position: center;
  background-size: cover;
}

.hero-section .section-content {
  min-height: unset;
}

.hero-image-column {
  visibility: hidden;
}

@media (max-width: 768px) {
  .hero-buttons {
    flex-direction: column;
    align-items: stretch;
    gap: var(--space-12);
  }

  .hero-image-column {
    display: none;
  }

}
